<section id="offerPanel">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-12 col-md-8">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><img src="http://www.superbreak.com/Content/Images/icons/Universal-Search/Theatre.jpg" width="30"> Hotel & Theatre Tickets</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary btn-lg">From {{ page.from-price }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
