<section id="productGroup">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Top Shows</h2></div>
    </div>
    <div class="row">
      {% for post in site.posts %}
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="{{ post.card-img }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.show-snip }}</p>

          </div>
          <div class="card-footer">
            <p>from <span class="fromPrice">{{ post.from-price }}</span>pp</p>
            <a href="{{ post.book-url }}" class="btn btn-primary btn-block">Book online</a>
            <a href="{{ post.url }}" class="btn btn-info btn-block">More details</a>
            </div>
        </div>
      </div>
{% endfor %}
      </div>
    <div class="row">
      <div class="col-12"><div class="viewMore"><a href="http://www.superbreak.com/theatre-breaks.htm">View more</a></div></div>
    </div>
  </div>
</section>
