<section id="productGroup">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Top Shows</h2></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="http://img1.superbreak.net/content/images/cms/cms-show/new-dramgirls-logo-oct17.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dreamgirls</h5>
            <p class="card-text">A new production of the award-winning musical is currently wowing the West End.</p>

          </div>
          <div class="card-footer">
            <p>from<span class="fromPrice">£99</span>pp</p>
            <a href="#" class="btn btn-primary btn-block">Book online</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="http://img1.superbreak.net/content/images/cms/cms-show/new-lion-king-main-logo-1017.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Lion King</h5>
            <p class="card-text">Disney's legendary Lion King takes to the stage in a spectacular visual showcase.</p>

          </div>
          <div class="card-footer">
            <p>from<span class="fromPrice">£99</span>pp</p>
            <a href="#" class="btn btn-primary btn-block">Book online</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="http://img1.superbreak.net/content/images/cms/cms-show/MIS_Superbreak_Branding_257x187.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Les Miserables</h5>
            <p class="card-text">One of the most famous musicals of all time - a must-see for everyone.</p>
          </div>
          <div class="card-footer">
            <p>from<span class="fromPrice">£99</span>pp</p>
            <a href="#" class="btn btn-primary btn-block">Book online</a></div>
        </div>
        </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="http://img1.superbreak.net/content/images/cms/cms-show/motown-tab-compressor.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Motown the Musical</h5>
            <p class="card-text">The songs and stories of Motown under Berry Gordy.</p>
          </div>
          <div class="card-footer">
            <p>from<span class="fromPrice">£99</span>pp</p>
            <a href="#" class="btn btn-primary btn-block">Book online</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
